body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 2px;
  position: relative;
  height: 99vh;
}

.chat-box {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 10px;
  max-height: calc(100vh - 90px);
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  max-width: 100%;
}

.message-content {
  border: white;
  border-radius: 5px;
}

.received {
  background-color: #3b3b3b;
  align-self: flex-start;
  color: white;
}

.sent {
  background-color: #686868;
  align-self: flex-end;
  color: white;
}

.input-box {
  display: flex;
  padding: 10px;
  width: calc(100% - 20px);
}

.input-box input {
  flex: 1;
  padding: 10px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.input-box button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #3b3b3b;
  color: white;
  cursor: pointer;
}

.input-box button:hover {
  background-color: #b6b6b6;
}

@media (prefers-color-scheme: dark) {
  :root {
      background-color: #272727;
      color: white;
  }
}

@media (prefers-color-scheme: light) {
  :root {
      background-color: #f5f5f5;
      color: black;
  }
}

@media (max-width: 768px) {
  .chat-container {
      width: 95%; 
  }
}
